<h1>Listing levels</h1>

<table>
  <tr>
  </tr>

<% for level in @levels %>
  <tr>
    <td><%= level.level %></td>
    <td><%= level.need_xp %></td>
    <td><%= level.hp_received %></td>
    <td><%= link_to 'Edit', edit_backstage_level_path(level) %></td>
    <td><%= link_to 'Destroy', backstage_level_path(level), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New level', new_backstage_level_path %>
