%div.inner
  %h2= "Asset \"#{@asset.to_param}\""
  - content_tag_for :div, @asset do
    %ul
      %li
        %strong Name:
        =h @asset.name
    %ul
      %li= link_to 'Edit', edit_post_asset_path(@post, @asset)
      %li= link_to 'Back', post_assets_path(@post)

    = link_to('teste', ActionController::Routing::Routes.recognize_path(url_for(@entities), :method => :get))
    = link_to('teste', ActionController::Routing::Routes.recognize_path(url_for([@post, :assets]), :method => :get))
