- content_tag_for :div, post do
  %ul
    %li
      %strong Title:
      =h post.title
    %li
      %strong Body:
      =h post.body
      = polymorphic_url([post, :assets])
      = AssetsController.instance_methods(false).join('<br />')
    = link_to 'Show', post
    = link_to 'Edit', edit_post_path(post)
    = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
