.columns-17-7
  .span-17
    %div{:class => 'context-tools', :style => 'padding:0px 20px; margin:auto;'}
      .span-11
        %ul.tabs.context-nav
          %li
            %a{:class => 'first selected', :href => '#'} Listar Posts
          %li
            %a{:href => '#'} Incluir Post
      .span-5.last
        -form_tag( 'search', :class => 'search_form' ) do
          =text_field_tag 'which_posts', 'Buscar Post', :class => 'text'

    .inner
      %h2 Posts
      - if !@posts.empty?
        = render :partial => "post", :collection => @posts
        = Route.test
        %hr
        .span-5
          = link_to 'Incluir Post', new_post_path, :class => 'mini-button'

        .span-11.last.align-right
          = will_paginate(@posts)
      - else
        %p Não há posts no no sitema
  .span-7.last
    .inner.right-toolbox
      = link_to 'Incluir Post', new_post_path, :class => 'big-button-to-new'
