<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Play By Tweet</title>
<%= stylesheet_link_tag 'frontstage.css', :cache => 'main' %>
<%= javascript_include_tag :defaults, :cache => 'main' %>
<%= yield :head %>
</head>
<body>
  <div id="main">
    <div id="up-side">
      <h1>Play By Tweet (Backstage)</h1>
      <ul>
        <li class="rounded"><%= link_to 'spells', backstage_spells_path %></li>
        <li class="rounded"><%= link_to 'levels', backstage_levels_path %></li>
        <li class="rounded"><%= link_to 'histories', backstage_histories_path %></li>
      </ul>
    </div>

    <% content_tag :div, :id => 'flash-message' do -%>
      <% flash.each do |key, msg| %>
        <%= content_tag :p, msg, :class => "flash #{key}" %>
      <% end %>
    <% end if flash.nil? -%>

    <div id="center-side">

      <div id="content-center" class="rounded">
        <%= yield :layout %>
      </div>
  
      <div id="content-right" class="rounded">
        <h2>Anything</h2>
      </div>

    </div>

    <div id="down-side">
      <address>
        <span> © 2009 - <strong>Play By Tweet</strong> - by Ninja Crowd</span> 
      </address>      
    </div>

  </div>
</body>
</html>
